<div id="contact" class="section">
    <div class="section-wrapper block">
        <div class="content-1300">
            <div class="row">
                <h2 class="entry-title section-title">Get in touch</h2>
                <div class="one-half width-40">

                    <p class="section-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra tristique placerat in massa consectetur quisque nunc fames.
                    </p>
                    <p>
                        Magni dolores eos qui sed quia consequuntur ratione voluptatem sequi nesciunt permano Nence of the stars from which we spring muse about as a patch of light billions upon billions.
                    </p>
                    <p>
                        Energy hidden in matter a mote of lorem ipsum dust suspended in a sunbeam billions upon ratione voluptatem sequi nesciunt permano lorem ipsum.
                    </p>
                    <p>
                        <b>ADDRESS:</b> {{ site.data.settings.developer-info.address }} <br>
                        <b>EMAIL:</b> {{ site.data.settings.developer-info.email }} <br>
                        <b>PHONE:</b> {{ site.data.settings.developer-info.phone }} <br>
                    </p>
                </div>

                <div class="one-half width-55 last">
                    <div class="contact-form">
                        <p>
                            <input id="name" type="text" name="your-name" placeholder="Name">
                        </p>
                        <p>
                            <input id="contact-email" type="email" name="your-email" placeholder="Email">
                        </p>
                        <p>
                            <input id="subject" type="text" name="your-subject" placeholder="Subject">
                        </p>
                        <p>
                            <textarea id="message" name="your-message" placeholder="Message"></textarea>
                        </p>
                        <p class="contact-submit-holder">
                            <input type="submit" value="SEND">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>