  <head>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.title }}{% endif %}</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Template by CocoBasic" />
    <meta name="keywords" content="React Js, Python Developer, Freelance, User Interface, UX" />

    <meta name="author" content="CocoBasic" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Favicon-->
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.ico" type="image/x-icon">

    <link href='https://fonts.googleapis.com/css?family=Poppins:400,700,800' rel='stylesheet' type='text/css'>

    <!-- ** Plugins Needed for the Project ** -->         
    <link rel="stylesheet" type="text/css"  href='{{ site.baseurl }}/assets/css/style.css' />

    <!--[if lt IE 9]>
            <script src="js/html5.js"></script>            
            <script src="js/respond.min.js"></script>                   
    <![endif]-->                
</head>