  <head>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.title }}{% endif %}</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Full Stack Developer and UX Developer" />
    <meta name="keywords" content="React Js, Python Developer, Freelance, User Interface, UX" />

    {% seo title=false %}

    <meta property="twitter:url" content="https://twitter.com/appu_gaurav">
    <meta property="linkedin:url" content="https://www.linkedin.com/in/appu-yadav-190260141/">
    <meta property="instagram:url" content="https://www.instagram.com/appu2821/">
    <meta property="facebook:url" content="https://www.facebook.com/profile.php?id=100008435251536&ref=bookmarks">
    <meta property="git:url" content="https://github.com/AppuYadav">

    <meta name="author" content="Appu Yadav" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Favicon-->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    <link href='https://fonts.googleapis.com/css?family=Poppins:400,700,800' rel='stylesheet' type='text/css'>

    <!-- ** Plugins Needed for the Project ** -->
    <link rel="stylesheet" type="text/css"  href='assets/css/style.css' />

    <!--[if lt IE 9]>
            <script src="js/html5.js"></script>            
            <script src="js/respond.min.js"></script>                   
    <![endif]-->                
</head>