<div id="portfolio" class="section">
    <div class="section-wrapper block">
        <div class="content-1300">
            <div id="portfolio-wrapper" class="relative">
                <div class="category-filter">
                    <div class="category-filter-icon"></div>
                </div>
                <div class="category-filter-list button-group filters-button-group">
                    <div class="button is-checked" data-filter="*">All</div>
                    <div class="button" data-filter=".text">Text</div>
                    <div class="button" data-filter=".video">Video</div>
                    <div class="button" data-filter=".image">Image</div>
                </div>
                <div class="portfolio-load-content-holder"></div>
                <div class="grid" id="portfolio-grid">
                    <div class="grid-sizer"></div>

                    <div id="p-item-1" class="grid-item element-item p-one-third text">
                        <a class="item-link ajax-portfolio" href="portfolio-1.html" data-id="1">
                            <img src="assets/images/portfolio1.jpg" alt="" />
                            <div class="portfolio-text-holder">
                                <div class="portfolio-text-wrapper">
                                    <p class="portfolio-text">Home</p>
                                    <p class="portfolio-cat">Text</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div id="p-item-2" class="grid-item element-item p-one-third text">
                        <a class="item-link ajax-portfolio" href="portfolio-2.html" data-id="2">
                            <img src="assets/images/portfolio2.jpg" alt="" />
                            <div class="portfolio-text-holder">
                                <div class="portfolio-text-wrapper">
                                    <p class="portfolio-text">Stairways</p>
                                    <p class="portfolio-cat">Text</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div id="p-item-3" class="grid-item element-item p-one-third text">
                        <a class="item-link ajax-portfolio" href="portfolio-3.html" data-id="3">
                            <img src="assets/images/portfolio3.jpg" alt="" />
                            <div class="portfolio-text-holder">
                                <div class="portfolio-text-wrapper">
                                    <p class="portfolio-text">Sneakers</p>
                                    <p class="portfolio-cat">Text</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="grid-item element-item p-one-third video">
                        <a class="item-link" href="https://vimeo.com/199192931" data-rel="prettyPhoto[portfolio]">
                            <img src="assets/images/portfolio4.jpg" alt="" />
                            <div class="portfolio-text-holder">
                                <div class="portfolio-text-wrapper">
                                    <p class="portfolio-text">Design</p>
                                    <p class="portfolio-cat">Video</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="grid-item element-item p-one-third image">
                        <a class="item-link" href="images/item_03.jpg" data-rel="prettyPhoto[portfolio]">
                            <img src="assets/images/portfolio5.jpg" alt="" />
                            <div class="portfolio-text-holder">
                                <div class="portfolio-text-wrapper">
                                    <p class="portfolio-text">Leaf</p>
                                    <p class="portfolio-cat">Image</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="grid-item element-item p-one-third image">
                        <a class="item-link" href="images/item_02.jpg" data-rel="prettyPhoto[portfolio]">
                            <img src="assets/images/portfolio6.jpg" alt="" />
                            <div class="portfolio-text-holder">
                                <div class="portfolio-text-wrapper">
                                    <p class="portfolio-text">Bottle</p>
                                    <p class="portfolio-cat">Image</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>