<div id="skills" class="section">
    <div class="section-wrapper block">
        <div class="content-1300">
            <div class="row m-bottom-60">
                <h2 class="entry-title section-title">Skills</h2>

                <div class="skill-circle-holder">
                    <div class="skill-circle">
                        <div class="skill-circle-wrapper relative" data-value="0.82" data-color="#f37b83" data-empty-color="#554247">
                            <span class="skill-circle-num"></span>
                        </div>
                        <p class="skill-circle-text">Photoshop</p>
                    </div>

                    <div class="skill-circle">
                        <div class="skill-circle-wrapper relative" data-value="0.6" data-color="#f37b83" data-empty-color="#554247">
                            <span class="skill-circle-num"></span>
                        </div>
                        <p class="skill-circle-text">Marketing</p>
                    </div>

                    <div class="skill-circle">
                        <div class="skill-circle-wrapper relative" data-value="0.75" data-color="#f37b83" data-empty-color="#554247">
                            <span class="skill-circle-num"></span>
                        </div>
                        <p class="skill-circle-text">PhP</p>
                    </div>

                    <div class="skill-circle">
                        <div class="skill-circle-wrapper relative" data-value="0.31" data-color="#f37b83" data-empty-color="#554247">
                            <span class="skill-circle-num"></span>
                        </div>
                        <p class="skill-circle-text">3D</p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="one-half">
                    <div class="skills-holder">
                        <div class="skill-holder">
                            <div class="skill-text">
                                <div class="skill">
                                    <div class="skill-fill" data-fill="75%"></div>
                                </div>
                                <span>Creativity</span>
                            </div>
                            <div class="skill-percent">75%</div>
                        </div>

                        <div class="skill-holder">
                            <div class="skill-text">
                                <div class="skill">
                                    <div class="skill-fill" data-fill="48%"></div>
                                </div>
                                <span>Cooking</span>
                            </div>
                            <div class="skill-percent">48%</div>
                        </div>
                    </div>
                </div>

                <div class="one-half last">
                    <div class="skills-holder sec-skills-holder">
                        <div class="skill-holder">
                            <div class="skill-text">
                                <div class="skill">
                                    <div class="skill-fill" data-fill="90%"></div>
                                </div>
                                <span>PhP</span>
                            </div>
                            <div class="skill-percent">90%</div>
                        </div>

                        <div class="skill-holder">
                            <div class="skill-text">
                                <div class="skill">
                                    <div class="skill-fill" data-fill="62%"></div>
                                </div>
                                <span>Marketing</span>
                            </div>
                            <div class="skill-percent">62%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>